# Libraries

In [1]:
from sklearn import set_config

import pandas as pd
import polars as pl
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Configuration

In [2]:
# Global configurations for sklearn:
set_config(transform_output = "pandas")

# Global configurations for pandas:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)
pd.set_option('display.precision', 3)
pd.set_option('display.max_colwidth', None)

# Global configurations for polars:
pl.Config.activate_decimals(True).set_tbl_hide_column_data_types(True)
pl.Config(
    **dict(tbl_formatting = 'ASCII_FULL_CONDENSED',
            tbl_hide_column_data_types = True,
            tbl_hide_dataframe_shape = True,
            fmt_float = "mixed",
            tbl_cell_alignment = 'CENTER',
            tbl_hide_dtype_separator = True,
            tbl_cols = 100,
            tbl_rows = 50,
            fmt_str_lengths = 100,
            )
)

# Functions

In [3]:
def test_function() -> None:
    pass

# Read Data

In [4]:
%%time
# Test pandas reading time
test_pandas_df = pd.read_parquet('data/train/train_base.parquet')
test_pandas_df.head()

CPU times: user 107 ms, sys: 35.2 ms, total: 142 ms
Wall time: 120 ms

   case_id date_decision   MONTH  WEEK_NUM  target
0        0    2019-01-03  201901         0       0
1        1    2019-01-03  201901         0       0
2        2    2019-01-04  201901         0       0
3        3    2019-01-03  201901         0       0
4        4    2019-01-04  201901         0       1

In [5]:
%%time
df_train = pl.read_parquet('data/train/train_base.parquet')
df_train.head()

CPU times: user 71.9 ms, sys: 35.1 ms, total: 107 ms
Wall time: 51.5 ms

+---------+---------------+--------+----------+--------+
| case_id | date_decision |  MONTH | WEEK_NUM | target |
+======================================================+
|    0    |   2019-01-03  | 201901 |     0    |    0   |
|    1    |   2019-01-03  | 201901 |     0    |    0   |
|    2    |   2019-01-04  | 201901 |     0    |    0   |
|    3    |   2019-01-03  | 201901 |     0    |    0   |
|    4    |   2019-01-04  | 201901 |     0    |    1   |
+---------+---------------+--------+----------+--------+